.menu {
    width: fit-content;
    display: inline-block;
    margin-right: 9px; 
    margin-bottom:5px;
}

#title {
    background: rgba(109, 73, 5, 0.788);   
    border-radius: 5px; 

}


.link {
    color: white; 
    font-family: sans-serif; 
    text-decoration: none;
}